/** Home page
--------------------------------------- **/
.main-visual {
	position: relative;
	overflow: hidden;
	max-width: 1080px;
	margin: 0 auto;	
}
.main-head {
	position: absolute;
	top: 52px;
	right: 100px;
	max-width: 243px;
}
/** section news **/
.section-news {
	padding: 0px 15px;
	.container {
		background: #fafafa;
		border: 1px solid #eeeeee;
		max-width: 1080px;
		padding: 70px 0px;
	}
	&_list {
		max-width: 720px;
		margin: 0 auto;
		li {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0px;
			}
			span {
				width: 130px;
			    font-size: 14px;
			    color: #fff;
			    vertical-align: top;
			    display: inline-table;
			    font-family: 'Montserrat', sans-serif;
        		font-weight: 500;
	    		padding: 5px 10px;
	    		background: #333333;
	    		text-align: center;
			}
			a {
				display: inline-block;
				width: calc(100% - 170px);
			    margin-left: 40px;
			    color: #454545;
			    text-decoration: underline;
			}
		}	
	}
}
/** section features **/
.features {
	display: flex;
	flex-flow: row wrap;
	&-left {
		width: 360px;
	}
	&-right {
		width: calc(100% - 414px);
		margin-left: 54px;
		&_title {
			font-size: 24px;
			margin-bottom: 25px;
			font-weight: 600;
		}
		&_ctn {
			figure {
				float: right;
				max-width: 255px;
				margin: 0px 0px 20px 25px;
			}
		}
	}
}

/** section subcription **/
.subcription {
	&-head {
		max-width: 650px;
		margin: 0 auto 60px;
	}
	&-img {
		margin: 0 -24px 20px;
		max-height: 195px;
		overflow: hidden;
	}
	&-package {
        display: block;
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;
	}
	&-price {
        display: block;
		font-size: 32px;
		font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 25px;
        span {
        	display: inline-block;
        	font-size: 40px;
        	margin-left: 7px;
        }
	}
	&-desc {
        display: block;
		font-size: 14px;
        margin-bottom: 30px;
	}
	&-btn {
        display: block;
		background: #eee;
		font-size: 14px;
		font-family: "ヒラギノ角ゴ Pro W6","HiraKakuPro-W6";
		font-weight: 600;
		padding: 10px;
		position: relative;
		&:after {
			content: "";
		    width: 0%;
		    height: 100%;
		    position: absolute;
		    right: 0;
		    top: 0;
		    left: inherit;
		    -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
		    -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
		    transition: all 400ms cubic-bezier(1, 0, 0, 1);
		    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
		    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
		    transition-timing-function: cubic-bezier(1, 0, 0, 1);
			background: rgba(199,226,64,1);
			background: -moz-linear-gradient(left, rgba(199,226,64,1) 0%, rgba(72,227,219,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(199,226,64,1)), color-stop(100%, rgba(72,227,219,1)));
			background: -webkit-linear-gradient(left, rgba(199,226,64,1) 0%, rgba(72,227,219,1) 100%);
			background: -o-linear-gradient(left, rgba(199,226,64,1) 0%, rgba(72,227,219,1) 100%);
			background: -ms-linear-gradient(left, rgba(199,226,64,1) 0%, rgba(72,227,219,1) 100%);
			background: linear-gradient(to right, rgba(199,226,64,1) 0%, rgba(72,227,219,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e240', endColorstr='#48e3db', GradientType=1 );
		}
		span {
			position: relative;
  			z-index: 2;
		}
	}
	&-list {
		display: flex;
		flex-flow: row wrap;
		margin-left: -24px;
		li {
			width: calc(33.3333% - 24px);
			margin-left: 24px;
			a {
				display: block;
				border: 4px solid #c9e23f;
				text-align: center;
				padding: 0px 24px 24px;
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
				transition: .3s ease-in-out;
				img {
					transform: scale(1);
				    transition: .3s ease-in-out;
				}
				&:hover {
					margin-top: -5px;
					img {
						transform: scale(1.2);
					}
					.subcription-btn {
						&:after {
							right: inherit;
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
/** section items **/
.section-items {
	&_list {
		display: flex;
		flex-flow: row wrap;
		max-width: 1080px;
		li {
			width: calc(100% / 6);
			a {
				display: block;
				overflow: hidden;
				position: relative;
				img {
					width: 100%;
				    transform: scale(1);
				    transition: .3s ease-in-out;
				}
				/*&:after {
					position: absolute;
				    top: 0;
				    left: 0;
				    z-index: 2;
				    content: "";
				    width: 100%;
				    height: 100%;
				    background: rgba(0,0,0,.7);
				    opacity: 0;
				    transition: .3s ease-in-out;
				}*/
				&:hover {
					img {
						transform: scale(1.2);
					}
					/*&:after {
						opacity: 1;
					}*/
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.main-visual {
		margin-top: 70px;
	}
	.main-head {
		top: 15px;
		right: 15px;
		max-width: 122px;
	}
	/** section news **/
	.section-news {
		.container {
			padding: 40px 0px;
		}
		.section-title {
			margin-bottom: 30px;
		}
		&_list {
			padding: 0px 20px;
			li {
				display: block;
				margin-bottom: 20px;
				span {
					margin-bottom: 10px;
					padding: 1px 10px;
				}
				a {
					display: block;
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}
	/** section features **/
	.section-features {
		margin-bottom: 130px;
		.section-title {
			margin-bottom: 45px;
		}
	}
	.features {
		&-left {
			width: 100%;
			text-align: center;
			margin-bottom: 25px;
		}
		&-right {
			width: 100%;
			margin-left: 0px;
			&_ctn {
				figure {
					float: none;
					margin: 0 0 25px 0;
					max-width: 100%;
					text-align: center;
				}
			}
		}
	}
	/** section subcription **/
	.section-subcription {
		margin-bottom: 80px;
		.section-title {
			margin-bottom: 15px;
		}
	}
	.subcription {
		&-head {
			margin: 0 auto 30px;
		}
		&-img {
			max-height: 100%;
		}
		&-list {
			margin-left: 0;
			li {
				width: 100%;
				margin: 0 0 25px 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	/** section items **/
	.section-items {
		&_list {
			li {
				width: calc(100% / 3);
			}
		}
	}
}